.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profil > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.profil h1 {
    margin: 0;
}
.profil p {
    margin: 10px 50 0 0;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}